<section class="about_me">
    <h1>Doświadczenie</h1>
    <p>
      Wykonujemy na zamówienie oprogramowanie wspomagające zarządzanie
      firmą. Integrujemy również istniejące systemy.Wykonaliśmy systemy dla
      firm i instytucji z różnych branż między innymi :
    </p>
    <ul>
      <li>kadrowy dla szpitala</li>
      <li>rozliczania kosztów dla firmy budowlanej,</li>
      <li>budżetowania i ewidencji środków trwałych dla firmy z sektora finansowego.</li>
    </ul>
    <p>
      Braliśmy udział we wdrożeniach systemów klasy ERP w przemyśle i handlu
      hurtowym. Za główny cel stawiamy sobie zadowolenie użytkowników z
      naszych systemów.Użytkownicy długo korzystają z naszych programów,
      ponieważ są one proste w obsłudze i dostosowane do ich potrzeb.
    </p>

    <h1>O Firmie</h1>
        <p> Firma INFOPROJEKT została założona w 1988r i działa nieprzerwanie.</p>
        <p> Właściciel Marek Parysek jest absolwentem Kierunku Cybernetyka Ekonomiczna i Informatyka na stołecznym SGPiS.</p>
        <p> Na początku wykonywaliśmy systemy dla ZWUT i ELBUD w Warszawie. Z ELBUD współpracowaliśmy kilkanaście lat.</p>
        <p> Przy współpracy z producentem oprogramowania klasy ERP, braliśmy udział we wdrożeniach i rozwoju systemów finansowych dla takich firm jak Polska Wytwórnia Papierów Wartościowych S.A., Zakłady Azotowe w Puławach, PAP, Sobiesław Zasada Centrum SA.</p>
        <p>Od kilkunastu lat współpracujemy z firmami rynku kapitałowego, dla których wykonaliśmy i rozwijamy systemy :
     <ul>
        <li>budżetowania,</li>
        <li>ewidencji środków trwałych i wyposażenia,</li>
        <li>generator raportów finansowych,</li>
        <li>programy tworzące pliki JPK.</li>
     </ul>
    </p>
    <p>Specjalizujemy się w integracji systemów finansowych.</p>
    <p>Obecnie tworzymy oprogramowanie w MS Access.</p>
</section>