<section class="contact">
  <h1>Kontakt</h1>
  <p>INFOPROJEKT Usługi Informatyczne Marek Parysek</p>
  <p>ul. Rakietowa 7a</p>
  <p>05-402 Otwock</p>
  <p>tel. kom. 501 218 264</p>
  <p>tel. 22 788 28 30</p>
  <!-- <p><a href="mailto:biuro@infoprojekt.waw.pl">biuro@infoprojekt.waw.pl</a></p> -->

  <form id="contact-form" method="POST" action="send" enctype="multipart/form-data">
    <input placeholder="E-mail" id="email"type="email"name="mail"class="form-control"required/>
    <textarea placeholder="Wiadomość" id="message"name="message" type="text" class="form-control"
    required></textarea>
    <button type="submit" value="submit" class="submit">Wyślij</button>
  </form>
</section>
